<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap" rel="stylesheet">

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --grey-bg: #e5e5e5;
  --blck-bg: #000000;
  --grey-txt: #646464;
  --white-txt: #fdfdfd;
  --max-width: 1140px;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: ;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}
